
{% include "index.html" %}


<div id="page-wrapper" ng-app="myapp">
 <div class="row" ng-controller="mycontroller">
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Graphic
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                         <div id="chart-container">FusionCharts will render here</div>
                        </div>
                        </div>
                </div>


           <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Alerts
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                obtaining measured.
                            </div>
                        </div>
                    </div>
           </div>
            <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Buttons
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div ng-show="button">
                             <button  id="opener" type="button" class="btn btn-success btn-circle btn-lg" ng-click="openDialog()"><i class="fa  glyphicon-plus"></i>
                             </button>
                             </div>
                             <div ng-hidden="button">
                             <button hidden="true" id="closed" type="button" class="btn btn-success btn-circle btn-lg" onclick="finalizeMeasured()"><i class="fa  glyphicon-plus"></i>
                             </button>
                             </div>
                        </div>
                     </div>
            </div>
                           <div id="dialog" title="Data Measure ">
                                        <form name="measure" id="measure" action="" method="post" onsubmit="preSubmit()">
                                            {% csrf_token %}
                                            <p>
                                                Init Date:
                                                <button type="button" id="now" value="now"  onclick="setDate()" >Now</button>
                                            <input type="date" id="initDate" name="initDate" hidden="true">
                                            </p>
                                            <p></p>
                                            Description:
                                            <textarea type="text" id="descr" name="descr"></textarea>
                                            <p></p>
                                            <input type="hidden" name="active" id="active">
                                            <button type="button" value="clear" onclick="clearFrom()">Clear</button>
                                            <button type="button" value="send" id="send" >Send</button>

                                        </form>

                                    </div>

        </div>
    </div>


         <script type="text/javascript">
        FusionCharts.ready(function () {
            var salesChart = new FusionCharts({
                type: 'area2d',
                renderAt: 'chart-container',
                width: '600',
                height: '400',
                dataFormat: 'json',
                dataSource: {
                    "chart": {
                        "caption": "Measure for arduino",
                        "xAxisName": "Fecha",
                        "yAxisName": "Measure",
                        "paletteColors": "#0075c2",
                        "bgColor": "#ffffff",
                        "showBorder": "0",
                        "showCanvasBorder": "0",
                        "plotBorderAlpha": "10",
                        "usePlotGradientColor": "0",
                        "plotFillAlpha": "50",
                        "showXAxisLine": "1",
                        "axisLineAlpha": "25",
                        "divLineAlpha": "10",
                        "showValues": "1",
                        "showAlternateHGridColor": "0",
                        "captionFontSize": "14",
                        "subcaptionFontSize": "14",
                        "subcaptionFontBold": "0",
                        "toolTipColor": "#ffffff",
                        "toolTipBorderThickness": "0",
                        "toolTipBgColor": "#000000",
                        "toolTipBgAlpha": "80",
                        "toolTipBorderRadius": "2",
                        "toolTipPadding": "5"
                    },

                    "data": [
                             {%  for measure in data %}
                                 {
                                   "label":  "{{ measure.fecha }}" ,
                                   "value": "{{ measure.value }}"

                          },
                            {% endfor %}
                            {
                            "label": "Mon",
                            "label": "4123"
                        }
                    ]
                }
            })
            .render();
        });




    var dateInit;
    var dateEND;
    var descrFrom;

    function setDate(){
        document.getElementById("initDate").value = new Date();
        document.getElementById("initDate").hidden= false;
        dateInit = new Date();
    }



    function clearFrom(){
         document.getElementById("initDate").value = " ";
         document.getElementById("descr").value = " ";
    }

    function preSubmit(){
         document.getElementById("active").value = 1;
    }

    function finalizeMeasured(){
        document.getElementById("initDate").value = "hooa ";
        document.getElementById("descr").value = "asda ";
        document.getElementById("active").value = 0;
        document.getElementById("measure").submit();
    }

    $(function() {
        $( "#dialog" ).dialog({
          autoOpen: false,
          show: {
            effect: "blind",
            duration: 1000
          },
          hide: {
            effect: "explode",
            duration: 1000
          }
        });

        $( "#opener" ).click(function() {
          $( "#dialog" ).dialog( "open" );
        });

         $( "#send" ).click(function() {
            descrFrom = document.getElementById("descr").value
            $( "#dialog" ).dialog( "close" );
            $( "#closed" ).hidden = false;
        });
  });


 var app = angular.module("myapp", []);
    app.controller("mycontroller", function($scope,$http) {

        $scope.openDialog = function(user, nombre, apellido, email) {

            $scope.button=!$scope.button;
        }

        $scope.deleteUser = function(userName){
            var name= "'"+userName +"'";
            $http.get("{% url 'deleteUser' %}", {params:{"user": userName }})
            .then(function (response) { /* */ });


            location.reload();


        }



    });



    </script>

<style>



    .button{
        margin-left: 60em;
        margin-bottom: 5em;

    }

    #notification{
        width: 15em;
        margin-left: 55em;
        padding-left: 3.5em;
    }

</style>



{% include "footer.html" %}