
{% include "index.html" %}


<div id="page-wrapper" ng-app="myapp">

            <!-- /.row -->
            <div class="row" ng-controller="dataController">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge" ng-model="volume"></div>
                                    <div>Volume</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge" ng-model="level"></div>
                                    <div>Pressure</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge" ng-model="measure"></div>
                                    <div>Level</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                </div>

 <div class="row" ng-controller="mycontroller">
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Graphic
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                         <div id="chart-container">FusionCharts will render here</div>
                        </div>
                        </div>
                </div>


           <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Alerts
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                obtaining measured.
                            </div>
                        </div>
                    </div>
           </div>
            <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Buttons
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div ng-hide="buttonDialog">
                             <button  id="opener" type="button" class="btn btn-success btn-circle btn-lg" ng-click="openDialog()"><i class="fa  glyphicon-plus"></i>
                             </button>

                             </div>
                             <div ng-show="buttonDialog">
                                 <button id="closed" type="button" class="btn btn-warning btn-circle btn-lg" ng-click="finalizeMeasured()"><i class="fa fa-times"></i>
                                 </button>

                             </div>
                        </div>
                     </div>
            </div>
                           <div id="dialog" title="Data Measure" >
                                        <form name="measure" id="measure" action="" method="post" >
                                            {% csrf_token %}
                                            <p>
                                                Init Date:
                                                <button type="button" id="now" value="now"  ng-click="setDate()" >Now</button>
                                            <input type="date" id="initDate" name="initDate" hidden="true" ng-model="dateInit">
                                            </p>
                                            <p></p>
                                            Description:
                                            <textarea type="text" id="descr" name="descr" ng-model="desc"></textarea>
                                            <p></p>
                                            <input type="hidden" name="dateEnd" id="dateEnd" ng-model="dateEnd">
                                            <button type="button" value="clear" onclick="clearFrom()">Clear</button>
                                            <button type="button" value="send" id="send" ng-click="preSubmit()">Send</button>

                                        </form>

                                    </div>

        </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<!--<script src="https://cdn.firebase.com/v0/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/0.5.0/angularfire.min.js"></script>-->

<script type="text/javascript">
        FusionCharts.ready(function () {
            var salesChart = new FusionCharts({
                type: 'area2d',
                renderAt: 'chart-container',
                width: '600',
                height: '400',
                dataFormat: 'json',
                dataSource: {
                    "chart": {
                        "caption": "Measure for arduino",
                        "xAxisName": "Fecha",
                        "yAxisName": "Measure",
                        "paletteColors": "#0075c2",
                        "bgColor": "#ffffff",
                        "showBorder": "0",
                        "showCanvasBorder": "0",
                        "plotBorderAlpha": "10",
                        "usePlotGradientColor": "0",
                        "plotFillAlpha": "50",
                        "showXAxisLine": "1",
                        "axisLineAlpha": "25",
                        "divLineAlpha": "10",
                        "showValues": "1",
                        "showAlternateHGridColor": "0",
                        "captionFontSize": "14",
                        "subcaptionFontSize": "14",
                        "subcaptionFontBold": "0",
                        "toolTipColor": "#ffffff",
                        "toolTipBorderThickness": "0",
                        "toolTipBgColor": "#000000",
                        "toolTipBgAlpha": "80",
                        "toolTipBorderRadius": "2",
                        "toolTipPadding": "5"
                    },

                    "data": [
                             {%  for measure in data %}
                                 {
                                   "label":  "{{ measure.date }}" ,
                                   "value": "{{ measure.measure }}"

                          },
                            {% endfor %}
                            {
                            "label": "Mon",
                            "label": "4123"
                        }
                    ]
                }
            })
            .render();
        });










    function clearFrom(){
         document.getElementById("initDate").value = " ";
         document.getElementById("descr").value = " ";
    }





    $(function() {
        $( "#dialog" ).dialog({
          autoOpen: false,
          show: {
            effect: "blind",
            duration: 1000
          },
          hide: {
            effect: "explode",
            duration: 1000
          }
        });

        $( "#opener" ).click(function() {
          $( "#dialog" ).dialog( "open" );
        });

         $( "#send" ).click(function() {
            descrFrom = document.getElementById("descr").value
            $( "#dialog" ).dialog( "close" );

        });
  });


 var app = angular.module("myapp", []);
    app.controller("mycontroller", function($scope,$http) {

        $scope.setDate=function(){
            document.getElementById("initDate").value = new Date();
            document.getElementById("initDate").hidden= false;
        }


        $scope.preSubmit = function(){
                $scope.buttonDialog =!$scope.buttonDialog;
        }

        $scope.finalizeMeasured= function (){
            document.getElementById("dateEnd").value = new Date();
            document.getElementById("measure").submit();
        }



    });

    app.controller("dataController" ,function($scope,$http) {
        $scope.firebaseRef = new Firebase("https://tfgsrkapi.firebaseio.com/tfgsrkapi/datos/-KLSVTeRzs2lreouvMPE/datos/level" );

        $scope.level = $firebase($scope.firebaseRef);


    });



</script>



<style>



    .button{
        margin-left: 60em;
        margin-bottom: 5em;

    }

    #notification{
        width: 15em;
        margin-left: 55em;
        padding-left: 3.5em;
    }

</style>


