
{% include "index.html" %}

        <div id="page-wrapper">

            <div id="chart-container">FusionCharts will render here</div>

            </div>

         <script type="text/javascript">
        FusionCharts.ready(function () {
            var salesChart = new FusionCharts({
                type: 'area2d',
                renderAt: 'chart-container',
                width: '800',
                height: '600',
                dataFormat: 'json',
                dataSource: {
                    "chart": {
                        "caption": "Measure for arduino",
                        "xAxisName": "Fecha",
                        "yAxisName": "Measure",
                        "paletteColors": "#0075c2",
                        "bgColor": "#ffffff",
                        "showBorder": "0",
                        "showCanvasBorder": "0",
                        "plotBorderAlpha": "10",
                        "usePlotGradientColor": "0",
                        "plotFillAlpha": "50",
                        "showXAxisLine": "1",
                        "axisLineAlpha": "25",
                        "divLineAlpha": "10",
                        "showValues": "1",
                        "showAlternateHGridColor": "0",
                        "captionFontSize": "14",
                        "subcaptionFontSize": "14",
                        "subcaptionFontBold": "0",
                        "toolTipColor": "#ffffff",
                        "toolTipBorderThickness": "0",
                        "toolTipBgColor": "#000000",
                        "toolTipBgAlpha": "80",
                        "toolTipBorderRadius": "2",
                        "toolTipPadding": "5"
                    },

                    "data": [
                             {%  for measure in data %}
                                 {
                                   "label":  "{{ measure.fecha }}" ,
                                   "value": "{{ measure.value }}"

                          },
                            {% endfor %}
                            {
                            "label": "Mon",
                            "label": "4123"
                        }
                    ]
                }
            })
            .render();
        });

    </script>





</body>

</html>
